/* Estilo base permanece o mesmo */
body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    border: 5px solid #cc0000;
}

header {
    text-align: center;
    background-color: #cc0000;
    padding: 10px;
    color: #fff;
    border-bottom: 5px solid #800000;
}

.banner {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #800000;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.page {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #cc0000;
    color: white;
}

footer p {
    margin: 5px;
}
